{% extends 'AmexTriviaBundle::layout.html.twig' %}

{% block body %}
<div class="trivia verdaderoFalso">
    <div class="pregunta">
        {{ question | raw }}
    </div>
    <div class="opciones">
        <div class="opcion">
            <a href="#">
                <img src="{{ asset('bundles/amextrivia/images/verdadero.png')}}" alt="Verdadero" />
            </a>
            <a class="falso" href="#">
                <img src="{{ asset('bundles/amextrivia/images/falso.png')}}" alt="Falso" />
            </a>
        </div>
    </div>
    {% if ayuda %}
        <div class="ayuda">
            Ayuda: "{{ ayuda }}"
        </div>
    {% endif %}
</div>
{% include 'AmexTriviaBundle:Trivias:scriptGanador.html.twig' %}
{% endblock %}