{% extends 'AmexTriviaBundle::layout.html.twig' %}

{% block body %}
<h3>Aca tenemos 3 opciones:</h3>
<ul>
    <li>Boton para iniciar la trivia o desafio</li>
    <li>texto: ya has completado la trivia de hoy</li>
    <li></li>
</ul>
{% endblock %}