<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Amex - The Global Sales Experience</title>
        <link href="{{ asset('bundles/amextrivia/css/common.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="introBoX">
            <a href="{{path('amex_trivia_inicio')}}">
                <img src="{{ asset('bundles/amextrivia/images/intro.png') }}" alt="Ingresar al sitio"/>
            </a>
        </div>
    </body>
</html>
