{% extends 'AmexTriviaBundle::layout.html.twig' %}

{% block body %}
<div class="loginTitle">
    <img src="{{ asset('bundles/amextrivia/images/login_title_03.png') }}" alt="Estas a punto de conocer algo nuevo y ganar muchos premios"/>
</div>
<form>
    <div class="login registro">
        <div class="row">
            <div class="label">nombre</div>
            <div class="input"><input type="text"/></div>
        </div>
        <div class="row">
            <div class="label">apellido</div>
            <div class="input"><input type="text"/></div>
        </div>
        <div class="row">
            <div class="label">pa&iacute;s</div>
            <div class="input"><input type="text"/></div>
        </div>
        <div class="row">
            <div class="label">password</div>
            <div class="input"><input type="text"/></div>
        </div>
        <div class="row">
            <div class="label">email</div>
            <div class="input"><input type="text"/></div>
        </div>
    </div>
    <div class="enviarLogin enviarRegistro">
        <input type="submit" value="Registrar" />
    </div>
</form>
{% endblock %}