<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Amex - The Global Sales Experience</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/amextrivia/css/common.css') }}" rel="stylesheet">

        {% endblock %}
    </head>

    <body>
        <div class="mainContainer">
            <div class="logo">
                <a href="{{ path('amex_trivia_inicio') }}">
                    <img src="{{ asset('bundles/amextrivia/images/logo.png') }}" alt="The Global Sales Experience" />
                </a>
                <a href="https://www.americanexpress.com/" class="amexLogo">
                    <img src="{{ asset('bundles/amextrivia/images/300px-American_Express_svg.jpg') }}" alt="Amex" />
                </a>
            </div>
            {% block body %}

            {% endblock %}
            <footer>
                {% render "AmexTriviaBundle:Default:rankingFooter" %}
                
            </footer>
            {% block javascripts %}
            {% endblock %}
        </div>
    </body>
</html>